<div class="container">
  <h1>Welcome to the Bank Account Management System</h1>

  <ng-container *ngIf="loggedIn; else loginForm">
    <div>
      <app-account-operations></app-account-operations>
    </div>

    <div>
      <app-account-list></app-account-list>
    </div>

    <div>
      <button (click)="logout()">Logout</button>
    </div>
  </ng-container>

  <ng-template #loginForm>
    <form (ngSubmit)="login()" *ngIf="!loggedIn" class="login-form">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required [(ngModel)]="username">

      <label for="pin">PIN Code:</label>
      <input type="password" id="pin" name="pin" required [(ngModel)]="pin">

      <button type="submit">Login</button>
    </form>

    <form (ngSubmit)="createUser()" *ngIf="!loggedIn" class="create-form">
      <label for="username">Username:</label>
      <input type="text" id="login" name="login" required [(ngModel)]="username">

      <label for="pin">PIN Code:</label>
      <input type="password" id="pass" name="pass" required [(ngModel)]="pin">

      <label for="rights">Rights:</label>
      <input type="number" id="rights" name="rights" required [(ngModel)]="rights">

      <button type="submit">Create User</button>
    </form>
  </ng-template>

  <ng-template #accountForm>
    <form (ngSubmit)="createAccount()" *ngIf="!loggedIn">
      <label for="type">Account Type:</label>
      <input type="number" id="type" name="type" required [(ngModel)]="type">

      <label for="currency">Currency:</label>
      <input type="number" id="currency" name="currency" required [(ngModel)]="currency">

      <label for="balance">Current Balance:</label>
      <input type="number" id="balance" name="balance" required [(ngModel)]="balance">

      <button type="submit">Create Account</button>
    </form>
  </ng-template>


</div>
